/* color: red/green/blue */
/* color: '#rrggbb' */
/* color: rgb(255,255,255)
color: rgb(0%,100%,30%)
existe tambem essa função como alpha-channel
color: rgb(0,0,0,0), rgb(0,0,0,1) 100% alpha
hsl(270, 60%, 70%) //hue
hsl(270deg, 60%, 70%) //hue rotação - saturaçao (0 = grey) - light (100% = branco, 0% = preto)
hsl(270deg, 60%, 70%, 15%)
hsl(270deg, 60%, 70%, 0.15)  */


* {
  color: #ff0000aa;
  background-color:#00ff0022;

}

main { 
  display: flex;
  justify-content: center;
  align-items: center;
}