/* 
    Precedência de Seletores 

 - Universal (*) - Menor precedência, só ganha em herança. 
 - Type/Tag (p, h1, div) 
 - Class (.example) 
 - ID (#example) - Maior precedência. 

 */

* {
  color: green;
}

 #iara{ 
  color: red;
 }

 .breno{ 
  color: blue; 
 }

 h1, h2, h3, h4 { 
  margin-left: 90px; 
  color: rgb(176, 176, 73);
} 
 


