* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  background: #151fa1;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* width: 200px */
  gap: 20px 20px; /* gap: row-gap column-gap */
}

.item {
  background: tomato;
  color: white;
  padding: 20px;
  /* flex: 1; */
  width:500px;
  /* margin: 10px; */
}