.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #151fa1;
}

.item {
  background: tomato;
  color: white;
  padding: 20px;
  flex: 3;
  margin: 10px;
}
