*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw
}

.botao {
  background: red;
  color: white;
  padding: 20px;
  transition: all 5s ease;
  border: 2px solid blue;
}

.botao:hover {
  background: blue;
  border: 8px solid red;
}

.botao:focus {
  background: green;
  border: 22px solid yellow;
}